<h1>Welcome <%=@user.username%>!</h1>

<%@circles.each do |circle|%>
<ol>
  <li><b>YOU</b> - <%=circle.you%></li>
  <li><b>NEED</b> - <%=circle.need%></li>
  <li><b>GO</b> - <%=circle.go%></li>
  <li><b>SEARCH</b> - <%=circle.search%></li>
  <li><b>FIND</b> - <%=circle.find%></li>
  <li><b>TAKE</b> - <%=circle.take%></li>
  <li><b>RETURN</b> - <%=circle.return%></li>
  <li><b>CHANGE</b> - <%=circle.change%></li>
</ol>
<%end%>

<a href="/circles/new">Create a new Circle</a></br>
<a href="/logout">Logout</a>
